.main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 48px;
    background-color: #181A2A;
  }
  
  .allPostsContainer {
    width: 75%;
    margin-top: 55px;
  }
  
  .heading {
    color: white;
    text-align: left;
    font-size: 24px;
    font-weight: 500;
  }
  
  .posts {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 24px;
  }
  
.sortOptions {
  margin: 35px 0px;
  display: flex;
  align-items: center;
}

.sortOptions label {
  margin-right: 10px;
}

.sortOptions select {
  padding: 5px;
  border-radius: 5px;
}

.sortLabel {
  color: #fff;
}

.title {
  font-size: 55px;
  color: #fff;
  text-align: center;
}
